#what .items{
    display: block;
    padding: 10px;
}

#what .items .item{
    display: flex;
    text-align: left;
}
#what .items .item i{
    margin:0 13px;
    align-self: center;
    margin-bottom: 0;
}
/* smart phones */
@media screen and (max-width:500px){
    #nav-wrap{
        flex-direction: column;
      align-items: center;
    }
   

    #who {
        flex: none;
      display: block;
       
    }

 #contact{
        flex: none;
        display: block;
    }
 

    

}